@use '../abstracts/functions' as *;

// .form {
// }

.form-fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

.form-error {
  margin: 0;
  font-family: var(--ma-base-font-family-2);
  font-size: rem(12px);
  font-style: italic;
  font-weight: 700;
  line-height: 1.1;
  color: rgb(var(--ma-base-color-red-500));
}
