@use '../abstracts/functions' as *;

.wrapper {
  --ma-wrapper-spacing: #{rem(16px)};
  --ma-wrapper-size: var(--ma-base-container-xl);

  margin-inline: auto;
  inline-size: min(
    100% - 2 * var(--ma-wrapper-spacing),
    var(--ma-wrapper-size)
  );
}
