.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

.overflow-auto {
  overflow: auto;
}
