@use '../abstracts/functions' as *;

:root {
  color-scheme: dark;
}

html {
  font-family: var(--ma-base-font-family-1);
  font-optical-sizing: auto;
}

a {
  color: currentColor;
}

table {
  & th,
  & td {
    border: rem(1px) solid rgb(var(--ma-base-color-black));
    padding: rem(8px);
  }
}
